
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" action="@Url.Action("AddUser", "Employee")">
    <div class="row mb-3">
        <label for="firstName" class="col-sm-4 col-form-label">First Name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="firstName" name="FirstName" required>
        </div>
    </div>

    <div class="row mb-3">
        <label for="lastName" class="col-sm-4 col-form-label">Last Name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="lastName" name="LastName" required>
        </div>
    </div>



    <div class="row mb-3">
        <label for="mobileNumber" class="col-sm-4 col-form-label">MobileNumber</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="mobileNumber" name="MobileNumber" required>
        </div>
    </div>

    <div class="row mb-3">
        <label for="email" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
            <input type="email" class="form-control" id="email" name="Email" required>
        </div>
    </div>

    <div class="row mb-3">
        <label for="address" class="col-sm-4 col-form-label">Address</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="address" name="Address" required>
        </div>
    </div>


    <div class="row mb-3">
        <label for="dateOfBirth" class="col-sm-4 col-form-label">DateOfBirth</label>
        <div class="col-sm-8">
            <input type="datetime" class="form-control" id="dateOfBirth" name="DateOfBirth" required>
        </div>
    </div>

    <div class="row mb-3">
        <label for="gender" class="col-sm-4 col-form-label">Gender</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="gender" name="Gender" required>
        </div>
    </div>

    <div class="row mb-3">
        <label for="hobby" class="col-sm-4 col-form-label">Hobby</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="hobby" name="Hobby" required>
        </div>
    </div>

    <div class="row mb-3">
        <label for="password" class="col-sm-4 col-form-label">Password</label>
        <div class="col-sm-8">
            <input type="password" class="form-control" id="password" name="Password" required>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success m-1">Ok</button>
        <button type="button" class="btn btn-secondary m-1" id="cancel">Cancel</button>
    </div>
</form>